body{
    background-color: #1d2846;
    color: #ffffff;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: arial ,sans-serif;
    
}
form{
    width: 500px;
    background-color: #d6d6d5;
    margin: auto;
    border-radius: 25px;
    padding: 15px;
    
}
label{
    font-size: larger;
}
input,select{
    width: 200px;
    height: 25px;
    border-radius: 6px;
    
}
input[type="radio"]{
    width: 18px;
    height: 20px;
    margin: 0 5px;
    
}
input[type='submit'],input[type='reset']{
    height: 32px;
    width: 150px;
}
input[type='submit']{
    background-color: rgb(13, 110, 21);
    color: aliceblue;
}
input[type='reset']{
     background-color: rgb(168, 70, 24);
    color: aliceblue;
}
input[type='file']{
   padding: 8px;
    margin: 5px 5px 5px 5px;
    background-color: #ebeef1;
    color: black;
    height: 10px;
    
}
input[type='select']{
    width: 250px;
    
}
hr{
    width: 60%;
    
}
input[type='submit']:hover{
    background-color: rgb(15, 138, 25);
}
input[type='reset']:hover{
    background-color: rgb(214, 87, 28);
}
.heyyy{
    width: 110px;
    height: 35px;
    border-radius: 10px;
}
.heyyy:hover{
    background-color: #7096d1;
}
